D:\D\Visualization_software\visualization_venv\
D:\D\Visualization_software\backend\backend\local_settings.py
D:\D\Visualization_software\.vscode
D:\D\Visualization_software\node_modules
D:\D\Visualization_software\backend\backend\__pycache__
D:\D\Visualization_software\emails.txt
D:\D\Visualization_software\node_modules
D:\D\Visualization_software\frontend\node_modules